.navbar-link {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $grey-dark;
    border-bottom: 2px solid $red;
    font-size: 1.1em;
  }
}
.navbar-content {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 25px;
}
.navbar-ccvl {
  background-color: white;
  border-bottom: 2px solid rgba(255, 0, 0, 0.2);
  z-index: 10;
}
