.banner {
  background-size: cover;
  padding: 150px;
  margin-top: 0px;
  position: relative;
  color: white
}
#permanent {
  background-color: #abaaaf;
  size: cover;

}
#newsletter {
  border-bottom: 2px solid #828184;
  border-top: 2px solid #828184;
}
