<div class="footer">

  <div class="container footer-links">
        <div class="col-xs-3">
          <a href="/" class="footer-logo">
            <%= image_tag "logo-footer.png" %>
          </a>
        </div>

        <div class="col-xs-9">

          <div class="col-xs-4">
            <ul class="list-unstyled">
              <li><strong>A propos</strong></li>
              <li>CCVL</li>
              <li>Equipe</li>
              <li>Presse</li>
              <li>FAQ</li>
            </ul>
          </div>

          <div class="col-xs-4">
            <ul class="list-unstyled">
              <li><strong>Objets</strong></li>
              <li>Quel type d'objets louer ?</li>
              <li>Comment définir un bon prix ?</li>
              <li>Assurance de mon objet</li>
            </ul>
          </div>

          <div class="col-xs-4">
            <p class="text-center">Suivez nous sur :</p>
            <div class="media-links">
              <ul class="list-inline">
                <li><a href="https://www.facebook.com/kwaala.fr" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/kwaala_fr"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="http://kwaala.fr/blog/"><i class="fa fa-rss-square"></i></a></li>
              </ul>
            </div>
          </div>

      </div>

  </div>
      <span class="footer-cie">© Made with <i class="fa fa-heart"></i> by Ben </span>

</div>
