<div class="container">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <h3>Organisation de voyages en groupe sur mesure</h3>
    <p>Vous êtes une association, un centre communautaire, une communauté, un CE, ou tout simplement un groupe d'amis ou de familles.

    Nous pouvons réaliser des <strong>programmes sur mesure</strong>, quelle que soit sa nature : week-end, séjour de vacances ou de découverte, séjour culturel, séminaire, congrès ou conventions, séjours.

    Qu'il s'agisse d'un programme en France, en Israël, en Europe ou une destination lointaine, d'un week end ou d'un séjour (Chine, USA, Russie, Ukraine, Inde, Cuba, Amérique latine, Espagne, Italie), nous étudierons avec nos prestataires la formule la plus adaptée au coût le plus juste.

    Pour la plupart de ces destinations, nous disposons d'un éventail de guides spécialisés autour du patrimoine juif, qui interviendront avec les guides locaux.</p>
  </div>

</div>
