<nav class="navbar-ccvl">
  <div class="container navbar-wagon-container">
    <div class="text-center navbar-content">

<!--       <div class="navbar-wagon-item">
        <div class="dropdown">

          <h6 class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Programmes</h6>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="navbar-wagon-menu">
            <li><a href="#">18-25 ans</a></li>
            <li><a href="#">Familles</a></li>
            <li><a href="#">Taglit</a></li>
          </ul>

        </div>
      </div> -->
      <a href="" class="navbar-link">Contact</a>
      <a href="" class="navbar-link">Les programmes</a>
      <a href="index.html"><img src="logo.png" alt="CCVL"></a>
      <a href="" class="navbar-link">Qui sommes-nous?</a>
      <a href="" class="navbar-link">Recrutement</a>
    </div>

  </div>
</nav>
