<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">
    <div >

      <div class="navbar-wagon-item">
        <div class="dropdown">

          <h6 class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Programmes</h6>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="navbar-wagon-menu">
            <li><a href="#">18-25 ans</a></li>
            <li><a href="#">Familles</a></li>
            <li><a href="#">Taglit</a></li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</nav>
