<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <% link_to "/" do %>
      <%= image_tag "lewagon.png", class: "navbar-wagon-logo" %>
    <% end %>
    <div class="text-right">
      <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

      <div class="navbar-wagon-item text-right">
        <div class="dropdown">

          <h6 class="avatar dropdown-toggle text-right" id="navbar-wagon-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Programmes</h6>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="navbar-wagon-menu">
            <li><a href="#">18-25 ans</a></li>
            <li><a href="#">Familles</a></li>
            <li><a href="#">Taglit</a></li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</nav>
