<div class="event-background" style="background-image:url('https://unsplash.it/600/300?image=73')">
  <div class="container">
    <div class="row">
      <div class=" event-card col-xs-12 col-md-8 col-md-offset-2">
        <h3 class="text-center">Nous organisons votre évènement en Israël!</h3><hr>
        <p>Vous souhaitez organiser un évènement en Israël ? Prendre une telle charge à son compte pour célébrer un évènement heureux peut devenir une vraie contrainte à distance et sans connaissances particulières.</p>
        <p><strong>Les CCVL s'occupent de l'organisation de mariages, bar-mitsvas</strong> où n'importe quel autre évènement! Grâce à un partenariat noué un partenariat avec un spécialiste israélien de l'événementiel, nous pouvons répondre à toutes vos demandes, de la conception à la réalisation de l'évènement</p>
        <p>Notre partenaire, Simcha Maker, opère avec succès depuis plusieurs années dans les communautés juives anglaises et nord américaines (Canada, USA), connues pour leur caractère exigeant en matière d'événementiel. C'est pour ses capacités à gérer un évènement à la perfection que nous avons choisi ce partenaire pour vous!</p>
        <p>Les relations avec plusieurs dizaines de prestataires israéliens dans chaque domaine (salles, hôtels, espaces, vidéo, traiteurs, musiciens ou orchestres, décorateurs, transport, etc...) nous permettent d'adapter chaque évènement à la mesure de vos souhaits et d'y apporter la touche d'originalité qui en fera un moment inoubliable.</p>
        <p>Quelle que soit la taille de votre évènement, quel que soit votre budget, nous bâtirons avec vous la formule qui vous convient le mieux. Vous serez reçus et accompagnés en Israël jusqu'à la finalisation de l'évènement et au moment de sa réalisation.</p><br>
        <h3 class="text-center">Les plus</h3><hr>
        <ol class="">
          <li>Vous gagnez du temps. <br><p class="advantage-description">Plus besoin de contacter des dizaines d'interlocuteurs, sans connaître leur sérieux.</p></li>
          <li>Vous économisez de l'argent. <br> <p class="advantage-description">Vous bénéficiez des  prestations négociées au meilleur prix par Simcha Maker ainsi que de "l'effet volume" réalisé avec les prestataires. Sans parler du fait que les prestataires israéliens sont tentés d'augmenter leurs prix quand ils traient avec des particuliers français.</p> </li>
          <li>Nous prenons en charge les problèmes administratifs. <br> <p class="advantage-description">Rabbinat, officiant, ketouba, certificat de Bar et Bat Mitsva etc.</p></li>
          <li>Nous assurons les prestations logistiques. <br> <p class="advantage-description">Transport aérien, hôtels, visites, locations de voiture.</p></li>
        </ol>
      </div>
    </div>
  </div>
</div>
